form .bottom .btn input {height:21px;padding-top:4px;top:-2px;}
form .all li  {padding-left:0;}
form .all li .description .position a img {margin-top:6px;}
form .all li .description .position p input {width:33px;padding-right:4px}